//header
header .left {
    background: url('../images/header_leftBG.png') no-repeat center;
    background-size: contain;
}
header .forget_ic {
    background: url('../images/question.png') no-repeat center;
    background-size: contain;
}

//mainArea
.mainArea .marqueeBox {
    background: url('../images/marquee_BG.png') no-repeat center;
    background-size: contain;
}
.mainArea article .top {
    background: url('../images/mainArea_topBG.jpg') no-repeat top center;
}
.mainArea .swiper-button-prev-2,
.mainArea .swiper-button-next-2,
.mainArea .swiper-button-prev-2::before,
.mainArea .swiper-button-next-2::before {
    background: url('../images/mainArea_top_Arrow.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameImg.demo_1 {
    background: url('../images/gameImg/img_1.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameImg.demo_2 {
    background: url('../images/gameImg/img_2.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameImg.demo_3 {
    background: url('../images/gameImg/img_3.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameImg.demo_4 {
    background: url('../images/gameImg/img_4.png') no-repeat center;
    background-size: contain;
}
.mainArea .gameImg.demo_5 {
    background: url('../images/gameImg/img_5.png') no-repeat center;
    background-size: contain;
}
.mainArea article .bottom {
    background: url('../images/mainArea_bottomBG.jpg') no-repeat top center;
    background-size: cover;
}
.mainArea .gameLink.live {
    background: url('../images/gameImg/paltform_live.png') no-repeat;
    background-size: contain;
}
.mainArea .gameLink.sport {
    background: url('../images/gameImg/paltform_sport.png') no-repeat;
    background-size: contain;
}
.mainArea .gameLink.fish {
    background: url('../images/gameImg/paltform_fish.png') no-repeat;
    background-size: contain;
}
.mainArea .gameLink.slot {
    background: url('../images/gameImg/paltform_slot.png') no-repeat;
    background-size: contain;
}
.mainArea .gameLink.board {
    background: url('../images/gameImg/paltform_board.png') no-repeat;
    background-size: contain;
}
.mainArea .gameLink.live .nameBox {
    background: url('../images/gameImg/nameBox_live.png') no-repeat;
    background-size: contain;
}
.mainArea .gameLink.sport .nameBox {
    background: url('../images/gameImg/nameBox_sport.png') no-repeat;
    background-size: contain;
}
.mainArea .gameLink.fish .nameBox {
    background: url('../images/gameImg/nameBox_fish.png') no-repeat;
    background-size: contain;
}
.mainArea .gameLink.slot .nameBox {
    background: url('../images/gameImg/nameBox_slot.png') no-repeat;
    background-size: contain;
}
.mainArea .gameLink.board .nameBox {
    background: url('../images/gameImg/nameBox_board.png') no-repeat;
    background-size: contain;
}

//footer
footer .net {
    background: url('../images/partner/net.png') no-repeat center;
    background-size: contain;
}
footer .jili {
    background: url('../images/partner/jili.png') no-repeat center;
    background-size: contain;
}
footer .sp {
    background: url('../images/partner/sp.png') no-repeat center;
    background-size: contain;
}
footer .og {
    background: url('../images/partner/og.png') no-repeat center;
    background-size: contain;
}
footer .qs {
    background: url('../images/partner/qs.png') no-repeat center;
    background-size: contain;
}
footer .ava {
    background: url('../images/partner/ava.png') no-repeat center;
    background-size: contain;
}
footer .sa {
    background: url('../images/partner/sa.png') no-repeat center;
    background-size: contain;
}
footer .elk {
    background: url('../images/partner/elk.png') no-repeat center;
    background-size: contain;
}
footer .bp {
    background: url('../images/partner/bp.png') no-repeat center;
    background-size: contain;
}
footer .evo {
    background: url('../images/partner/evo.png') no-repeat center;
    background-size: contain;
}
footer .tpg {
    background: url('../images/partner/tpg.png') no-repeat center;
    background-size: contain;
}
footer .rsg {
    background: url('../images/partner/rsg.png') no-repeat center;
    background-size: contain;
}
footer .ag {
    background: url('../images/partner/ag.png') no-repeat center;
    background-size: contain;
}
footer .ftp {
    background: url('../images/partner/ftp.png') no-repeat center;
    background-size: contain;
}
footer .ab {
    background: url('../images/partner/ab.png') no-repeat center;
    background-size: contain;
}
footer .pls {
    background: url('../images/partner/pls.png') no-repeat center;
    background-size: contain;
}
footer .pg {
    background: url('../images/partner/pg.png') no-repeat center;
    background-size: contain;
}
footer .png {
    background: url('../images/partner/png.png') no-repeat center;
    background-size: contain;
}
footer .mg {
    background: url('../images/partner/mg.png') no-repeat center;
    background-size: contain;
}
footer .pp {
    background: url('../images/partner/pp.png') no-repeat center;
    background-size: contain;
}
footer .red {
    background: url('../images/partner/red.png') no-repeat center;
    background-size: contain;
}
footer .gh {
    background: url('../images/partner/gh.png') no-repeat center;
    background-size: contain;
}
footer .ygg {
    background: url('../images/partner/ygg.png') no-repeat center;
    background-size: contain;
}
footer .relax {
    background: url('../images/partner/relax.png') no-repeat center;
    background-size: contain;
}
footer .redtiger {
    background: url('../images/partner/redtiger.png') no-repeat center;
    background-size: contain;
}
footer .bng {
    background: url('../images/partner/bng.png') no-repeat center;
    background-size: contain;
}
footer .wm {
    background: url('../images/partner/wm.png') no-repeat center;
    background-size: contain;
}
footer .sport36588 {
    background: url('../images/partner/sport36588.png') no-repeat center;
    background-size: contain;
}
footer .ifun {
    background: url('../images/partner/ifun.png') no-repeat center;
    background-size: contain;
}
footer .ely {
    background: url('../images/partner/ely.png') no-repeat center;
    background-size: contain;
}
footer .nolimit {
    background: url('../images/partner/nolimit.png') no-repeat center;
    background-size: contain;
}
footer .evoplay {
    background: url('../images/partner/evoplay.png') no-repeat center;
    background-size: contain;
}
footer .dg {
    background: url('../images/partner/dg.png') no-repeat center;
    background-size: contain;
}
footer .listBox .null::before {
    background: url('../images/lineBG.png');
}
footer .listBox .title {
    background: url('../images/footer_listTitleBG.png') no-repeat center;
    background-size: contain;
}
footer .bottomArea .btnBox .img::before {
    background: url('../images/gaming_logo.png') no-repeat center;
    background-size: contain;
}
footer .linkBox .img {
    background: url('../images/footer_linkIC.png') no-repeat;
    background-size: 300%;
}
footer .linkBox .youtube {
    background: url('../images/footer_linkIC_yt.png') no-repeat center;
    background-size: contain;
}