html {
    width: 100%;
    height: 100%;

    body {
        width: 100%;
        min-width: 1000px;
        height: 100%;
        position: relative;

        @import "./header";
        @import "./mainArea";
        @import "./footer";
        @import "./jumpWindow";
    }
}